html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Almarai", sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Almarai-Light - latin */
@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("almarai"), url("../fonts/almarai/Almarai-Light.ttf") format("truetype");
}
/* Almarai-regular - latin */
@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("almarai"), url("../fonts/almarai/Almarai-Regular.ttf") format("truetype");
}
/* Almarai-bold - latin */
@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("almarai"), url("../fonts/almarai/Almarai-Bold.ttf") format("truetype");
}
/* Almarai-Extra-bold - latin */
@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local("almarai"), url("../fonts/almarai/Almarai-ExtraBold.ttf") format("truetype");
}
@media (min-width: 1900px) {
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 0.5em;
    cursor: pointer;
  }
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #07131C;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #838996;
  }

  .welcome {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 55% top 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/images/Mask Group 2.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .welcome .nav-wrapper {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }
  .welcome .nav-wrapper .nav-title {
    margin-left: 140px;
  }
  .welcome .nav-wrapper .nav-title svg {
    width: 244px;
    height: 40px;
  }
  .welcome .nav-wrapper .nav-title svg .st1 {
    fill: #16EB8F;
  }
  .welcome .nav-wrapper .nav-title svg .st0 {
    fill: #FFFFFF;
  }
  .welcome .nav-wrapper .nav-links {
    margin-right: 120px;
  }
  .welcome .nav-wrapper .nav-links a {
    margin-right: 20px;
    font-size: 14px;
    color: #FFFFFF;
    padding-bottom: 32px;
  }
  .welcome .nav-wrapper .nav-links a:hover {
    color: #16EB8F;
    border-bottom: 1px solid #16EB8F;
  }
  .welcome .nav-wrapper .nav-links a:active {
    color: #16EB8F;
    border-bottom: 1px solid #16EB8F;
  }
  .welcome .welcome-message {
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 250px;
    margin-top: auto;
    width: 600px;
    font-size: 64px;
    color: #FFFFFF;
  }
  .welcome .welcome-message span {
    color: #16EB8F;
  }

  .who-we-are {
    height: 760px;
    background: transparent linear-gradient(291deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .who-we-are .content {
    flex-basis: 40%;
  }
  .who-we-are .content span {
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
  }
  .who-we-are .content p {
    margin-top: 50px;
    font-size: 20px;
    color: #CACCD5;
    max-width: 674px;
    height: 209px;
    line-height: 1.7;
    margin-bottom: 50px;
  }
  .who-we-are .image-wrapper {
    margin-top: 50px;
    flex-basis: 40%;
  }
  .who-we-are .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mission-and-vision {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: #12303C 0% 0% no-repeat padding-box;
  }
  .mission-and-vision .img-wrapper {
    height: 100%;
    flex-basis: 60%;
  }
  .mission-and-vision .img-wrapper img {
    min-height: 630px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mission-and-vision .content-wrapper {
    flex-basis: 30%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .mission-and-vision .content-wrapper .content-title span {
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
  }
  .mission-and-vision .content-wrapper .content-title p {
    color: #CACCD5;
    font-size: 20px;
    line-height: 1.3;
  }

  .why-work-with-us {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .why-work-with-us .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 60%;
    margin-left: 5%;
  }
  .why-work-with-us .content-wrapper .title {
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
  }
  .why-work-with-us .content-wrapper .bordered {
    padding-bottom: 35px;
    border-bottom: 1px solid #12303C;
  }
  .why-work-with-us .content-wrapper .content-point {
    display: flex;
    justify-content: space-between;
    color: #CACCD5;
  }
  .why-work-with-us .content-wrapper .content-point .point-header {
    flex-basis: 30%;
    font-size: 28px;
    line-height: 1.1;
  }
  .why-work-with-us .content-wrapper .content-point .point-body {
    font-size: 20px;
    flex-basis: 60%;
    line-height: 1.3;
  }
  .why-work-with-us .img-wrapper {
    height: 100%;
    flex-basis: 30%;
  }
  .why-work-with-us .img-wrapper img {
    min-height: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .what-we-provide {
    height: 100%;
    background: #12303C 0% 0% no-repeat padding-box;
    display: flex;
    color: #CACCD5;
    justify-content: space-between;
    position: relative;
  }
  .what-we-provide .img-wrapper {
    flex-basis: 55%;
    width: 100%;
    height: 100%;
  }
  .what-we-provide .img-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 1050px;
    object-fit: cover;
    object-position: right;
  }
  .what-we-provide .content-wrapper {
    height: 100%;
    position: relative;
    flex-basis: 45%;
    left: -5%;
  }
  .what-we-provide .content-wrapper .title {
    margin-top: 60px;
    font-size: 64px;
    font-weight: bold;
    color: #16EB8F;
    margin-bottom: 60px;
  }
  .what-we-provide .content-wrapper .content-point {
    display: flex;
    justify-content: space-between;
  }
  .what-we-provide .content-wrapper .content-point:not(:last-of-type) {
    border-bottom: 1px solid #07131C;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .what-we-provide .content-wrapper .content-point .point-title {
    font-size: 26px;
    margin-right: 25px;
    flex-basis: 30%;
  }
  .what-we-provide .content-wrapper .content-point .point-body {
    flex-basis: 60%;
    font-size: 20px;
    line-height: 1.3;
    white-space: pre-line;
  }

  .objectives {
    background: #07131C 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #CACCD5;
    height: 800px;
    position: relative;
  }
  .objectives .objective-logo {
    width: 120px;
    height: 120px;
    margin-top: 70px;
  }
  .objectives .objective-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .objectives .title {
    margin-top: 60px;
    text-align: center;
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
    width: 536px;
  }
  .objectives .img-wrapper {
    margin-top: -50px;
    margin-right: 300px;
    margin-left: 300px;
    min-width: 1100px;
  }
  .objectives .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .objectives .objectives-content :nth-child(1) {
    position: absolute;
    top: 55%;
    left: 10%;
  }
  .objectives .objectives-content :nth-child(2) {
    position: absolute;
    bottom: 15%;
    left: 32%;
  }
  .objectives .objectives-content :nth-child(3) {
    position: absolute;
    bottom: 13%;
    right: 30%;
  }
  .objectives .objectives-content :nth-child(4) {
    position: absolute;
    top: 55%;
    right: 8%;
  }
  .objectives .objectives-content .objective {
    font-size: 20px;
    max-width: 335px;
    line-height: 1.6;
    text-align: center;
  }

  .app-points {
    height: 100%;
    color: #CACCD5;
    background: transparent linear-gradient(299deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
  }
  .app-points .left-cards {
    margin-left: 140px;
    margin-top: 40px;
  }
  .app-points .right-cards {
    margin-right: 140px;
    margin-top: 40px;
  }
  .app-points .app-background {
    text-align: center;
    font-size: 64px;
    color: #16EB8F;
  }
  .app-points .app-background .title {
    margin-top: 40px;
    margin-bottom: -100px;
  }
  .app-points .app-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .app-points .card {
    max-width: 500px;
    background-color: #12303C;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .app-points .card .card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .app-points .card .card-content {
    font-size: 20px;
    line-height: 1.4;
  }

  .cto {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 400px;
    display: flex;
    align-items: flex-start;
  }
  .cto .cto-content {
    color: #FFFFFF;
    line-height: 1.7;
    font-size: 32px;
    max-width: 674px;
    margin-left: 140px;
    margin-top: 100px;
  }
  .cto .cto-buttons {
    margin-left: 170px;
    display: flex;
    align-items: center;
    margin-top: 110px;
  }
  .cto .cto-buttons .cto-button {
    font-size: 32px;
    background-color: #16EB8F;
    border-radius: 5px;
    margin-right: 20px;
    height: 66px;
    min-width: 350px;
    cursor: pointer;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cto .cto-buttons .cto-button svg {
    width: 36px;
    height: 36px;
  }
  .cto .cto-buttons .email-button {
    min-width: 423px;
  }

  .footer {
    width: 100%;
    color: #CACCD5;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #12303C;
  }
}
@media (min-width: 1024px) and (max-width: 1899px) {
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 0.5em;
    cursor: pointer;
  }
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #07131C;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #838996;
  }

  .welcome {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 55% top 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/images/Mask Group 2.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .welcome .nav-wrapper {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
  }
  .welcome .nav-wrapper .nav-title {
    color: #FFFFFF;
  }
  .welcome .nav-wrapper .nav-title svg {
    width: 200px;
    height: 40px;
  }
  .welcome .nav-wrapper .nav-title svg .st1 {
    fill: #16EB8F;
  }
  .welcome .nav-wrapper .nav-title svg .st0 {
    fill: #FFFFFF;
  }
  .welcome .nav-wrapper .nav-links a {
    margin-right: 20px;
    font-size: 14px;
    color: #FFFFFF;
    padding-bottom: 32px;
  }
  .welcome .nav-wrapper .nav-links a:hover {
    color: #16EB8F;
    border-bottom: 1px solid #16EB8F;
  }
  .welcome .nav-wrapper .nav-links a:active {
    color: #16EB8F;
    border-bottom: 1px solid #16EB8F;
  }
  .welcome .welcome-message {
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 600px;
    font-size: 64px;
    color: #FFFFFF;
  }
  .welcome .welcome-message span {
    color: #16EB8F;
  }

  .who-we-are {
    height: 100%;
    background: transparent linear-gradient(291deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .who-we-are .content {
    flex-basis: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .who-we-are .content span {
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
  }
  .who-we-are .content p {
    margin-top: 50px;
    font-size: 20px;
    color: #CACCD5;
    max-width: 674px;
    height: 209px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
  .who-we-are .image-wrapper {
    margin-top: 50px;
    flex-basis: 40%;
  }
  .who-we-are .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mission-and-vision {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: #12303C 0% 0% no-repeat padding-box;
  }
  .mission-and-vision .img-wrapper {
    height: 100%;
    flex-basis: 60%;
  }
  .mission-and-vision .img-wrapper img {
    min-height: 630px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mission-and-vision .content-wrapper {
    flex-basis: 30%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .mission-and-vision .content-wrapper .content-title span {
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
  }
  .mission-and-vision .content-wrapper .content-title p {
    color: #CACCD5;
    font-size: 20px;
    line-height: 1.3;
  }

  .why-work-with-us {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .why-work-with-us .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 60%;
    margin-left: 5%;
  }
  .why-work-with-us .content-wrapper .title {
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
  }
  .why-work-with-us .content-wrapper .bordered {
    padding-bottom: 35px;
    border-bottom: 1px solid #12303C;
  }
  .why-work-with-us .content-wrapper .content-point {
    display: flex;
    justify-content: space-between;
    color: #CACCD5;
  }
  .why-work-with-us .content-wrapper .content-point .point-header {
    flex-basis: 30%;
    font-size: 28px;
    line-height: 1.1;
  }
  .why-work-with-us .content-wrapper .content-point .point-body {
    font-size: 20px;
    flex-basis: 60%;
    line-height: 1.4;
  }
  .why-work-with-us .img-wrapper {
    height: 100%;
    flex-basis: 30%;
  }
  .why-work-with-us .img-wrapper img {
    min-height: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .what-we-provide {
    height: 100%;
    background: #12303C 0% 0% no-repeat padding-box;
    display: flex;
    color: #CACCD5;
    position: relative;
  }
  .what-we-provide .img-wrapper {
    flex-basis: 55%;
    width: 100%;
    height: 100%;
  }
  .what-we-provide .img-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 1050px;
    object-fit: cover;
    object-position: right;
  }
  .what-we-provide .content-wrapper {
    position: relative;
    height: 100%;
    flex-basis: 45%;
    left: -5%;
  }
  .what-we-provide .content-wrapper .title {
    margin-top: 20px;
    font-size: 64px;
    font-weight: bold;
    color: #16EB8F;
    margin-bottom: 40px;
  }
  .what-we-provide .content-wrapper .content-point {
    display: flex;
    justify-content: space-between;
  }
  .what-we-provide .content-wrapper .content-point:not(:last-of-type) {
    border-bottom: 1px solid #07131C;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .what-we-provide .content-wrapper .content-point .point-title {
    font-size: 26px;
    margin-right: 25px;
    flex-basis: 20%;
  }
  .what-we-provide .content-wrapper .content-point .point-body {
    width: 350px;
    font-size: 20px;
    line-height: 1.3;
    white-space: pre-line;
  }

  .objectives {
    background: #07131C 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #CACCD5;
    height: 100%;
    position: relative;
  }
  .objectives .objective-logo {
    width: 120px;
    height: 120px;
    margin-top: 70px;
  }
  .objectives .objective-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .objectives .title {
    margin-top: 60px;
    text-align: center;
    color: #16EB8F;
    font-size: 64px;
    font-weight: bold;
    width: 536px;
  }
  .objectives .img-wrapper {
    margin-top: -100px;
    width: calc(100% - 220px);
    margin-bottom: 150px;
    position: relative;
  }
  .objectives .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .objectives .objectives-content :nth-child(1) {
    position: absolute;
    bottom: 4vw;
    left: -5vw;
  }
  .objectives .objectives-content :nth-child(2) {
    position: absolute;
    bottom: -4vw;
    left: 21vw;
  }
  .objectives .objectives-content :nth-child(3) {
    position: absolute;
    bottom: -7vw;
    right: 19vw;
  }
  .objectives .objectives-content :nth-child(4) {
    position: absolute;
    bottom: 2vw;
    right: -5vw;
  }
  .objectives .objectives-content .objective {
    font-size: 1.7vw;
    max-width: 20vw;
    line-height: 1.6;
    text-align: center;
  }

  .app-points {
    height: 100%;
    color: #CACCD5;
    background: transparent linear-gradient(299deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-around;
  }
  .app-points .left-cards {
    flex-basis: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 2;
  }
  .app-points .right-cards {
    flex-basis: 30%;
    margin-top: 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .app-points .app-background {
    flex-basis: 30%;
    text-align: center;
    font-size: 64px;
    color: #16EB8F;
  }
  .app-points .app-background .title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .app-points .app-background img {
    margin-top: -50px;
    position: absolute;
    right: 3.5%;
    z-index: 1;
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
  .app-points .card {
    max-width: 400px;
    background-color: #12303C;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .app-points .card .card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .app-points .card .card-content {
    font-size: 20px;
    line-height: 1.4;
  }

  .cto {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .cto .cto-content {
    color: #FFFFFF;
    line-height: 1.7;
    font-size: 32px;
    flex-basis: 60%;
  }
  .cto .cto-buttons {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
  }
  .cto .cto-buttons .cto-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 335px;
    height: 66px;
    font-size: 26px;
    background-color: #16EB8F;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .cto .cto-buttons .cto-button:first-of-type {
    margin-bottom: 10px;
  }

  .footer {
    width: 100%;
    color: #CACCD5;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #12303C;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 0.5em;
    cursor: pointer;
  }
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #07131C;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #838996;
  }

  .welcome {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 35% top 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/images/Mask Group 2.png");
  }
  .welcome .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .welcome .nav-wrapper .nav-title {
    margin-top: 30px;
    margin-left: 50px;
  }
  .welcome .nav-wrapper .nav-title svg {
    width: 200px;
    height: 40px;
  }
  .welcome .nav-wrapper .nav-title svg .st1 {
    fill: #16EB8F;
  }
  .welcome .nav-wrapper .nav-title svg .st0 {
    fill: #FFFFFF;
  }
  .welcome .nav-wrapper .nav-links {
    display: none;
  }
  .welcome .welcome-message {
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: calc(100vw - 80px);
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
  }
  .welcome .welcome-message span {
    color: #16EB8F;
  }

  .who-we-are {
    height: 100%;
    background: transparent linear-gradient(291deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  .who-we-are .content {
    margin-top: 50px;
  }
  .who-we-are .content span {
    color: #16EB8F;
    font-size: 54px;
    font-weight: bold;
  }
  .who-we-are .content p {
    margin-top: 40px;
    font-size: 30px;
    color: #CACCD5;
    line-height: 1.5;
  }
  .who-we-are .image-wrapper {
    margin-top: 70px;
  }
  .who-we-are .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mission-and-vision {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #12303C 0% 0% no-repeat padding-box;
  }
  .mission-and-vision .img-wrapper {
    width: 100%;
  }
  .mission-and-vision .img-wrapper img {
    height: 620px;
    width: 100%;
    object-fit: cover;
  }
  .mission-and-vision .content-wrapper {
    margin-right: 25px;
    margin-left: 25px;
  }
  .mission-and-vision .content-wrapper .content-title {
    text-align: left;
  }
  .mission-and-vision .content-wrapper .content-title:first-of-type {
    margin-top: 50px;
  }
  .mission-and-vision .content-wrapper .content-title span {
    color: #16EB8F;
    font-size: 54px;
    font-weight: bold;
  }
  .mission-and-vision .content-wrapper .content-title p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #CACCD5;
    font-size: 28px;
    line-height: 1.5;
  }

  .why-work-with-us {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-work-with-us .content-wrapper {
    order: 2;
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .why-work-with-us .content-wrapper .title {
    color: #16EB8F;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 45px;
  }
  .why-work-with-us .content-wrapper .bordered {
    margin-bottom: 30px;
    border-bottom: 1px solid #12303C;
  }
  .why-work-with-us .content-wrapper .content-point {
    display: flex;
    flex-direction: column;
    color: #CACCD5;
  }
  .why-work-with-us .content-wrapper .content-point .point-header {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .why-work-with-us .content-wrapper .content-point .point-body {
    font-size: 24px;
    padding-bottom: 30px;
    line-height: 1.3;
  }
  .why-work-with-us .img-wrapper {
    order: 1;
    width: 100%;
  }
  .why-work-with-us .img-wrapper img {
    width: 100%;
    height: 620px;
    object-fit: cover;
  }

  .what-we-provide {
    height: 100%;
    background: #12303C 0% 0% no-repeat padding-box;
    display: flex;
    color: #CACCD5;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .what-we-provide .img-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .what-we-provide .img-wrapper img {
    height: 620px;
    width: 110%;
    object-fit: cover;
  }
  .what-we-provide .content-wrapper {
    height: 100%;
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .what-we-provide .content-wrapper .title {
    font-size: 54px;
    font-weight: bold;
    color: #16EB8F;
    margin-bottom: 45px;
  }
  .what-we-provide .content-wrapper .content-point {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .what-we-provide .content-wrapper .content-point:not(:last-of-type) {
    border-bottom: 1px solid #07131C;
    margin-bottom: 25px;
  }
  .what-we-provide .content-wrapper .content-point .point-title {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .what-we-provide .content-wrapper .content-point .point-body {
    font-size: 24px;
    line-height: 1.4;
  }

  .objectives {
    background: #07131C 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #CACCD5;
    height: 100%;
    position: relative;
  }
  .objectives .objective-logo {
    width: 150px;
    height: 150px;
    margin-top: 60px;
  }
  .objectives .objective-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .objectives .title {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #16EB8F;
    font-size: 56px;
    font-weight: bold;
  }
  .objectives .img-wrapper img {
    display: none;
  }
  .objectives .objectives-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .objectives .objectives-content :nth-child(1)::before {
    content: "1";
    display: block;
    color: #07131C;
    font-size: 56px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(2)::before {
    content: "2";
    display: block;
    color: #07131C;
    font-size: 56px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(3)::before {
    content: "3";
    display: block;
    color: #07131C;
    font-size: 56px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(4)::before {
    content: "4";
    display: block;
    color: #07131C;
    font-size: 56px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content .objective {
    flex-basis: 20%;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .app-points {
    height: 100%;
    color: #CACCD5;
    background: transparent linear-gradient(299deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-points .left-cards {
    order: 2;
  }
  .app-points .right-cards {
    order: 3;
  }
  .app-points .app-background {
    order: 1;
  }
  .app-points .app-background .title {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #16EB8F;
  }
  .app-points .app-background img {
    max-height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -100px;
    margin-bottom: -100px;
  }
  .app-points .card {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #12303C;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }
  .app-points .card .card-logo {
    width: 84px;
    height: 84px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .app-points .card .card-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .app-points .card .card-content {
    font-size: 20px;
    line-height: 1.4;
  }

  .cto {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cto .cto-content {
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 36px;
    margin: 40px 25px 40px 25px;
  }
  .cto .cto-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .cto .cto-buttons .cto-button {
    font-size: 28px;
    background-color: #16EB8F;
    border-radius: 5px;
    width: calc(100% - 40px);
    height: 70px;
    padding: 0 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .cto .cto-buttons .cto-button svg {
    width: 42px;
    height: 42px;
  }

  .footer {
    color: #CACCD5;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #12303C;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 0.5em;
    cursor: pointer;
  }
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #07131C;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #838996;
  }

  .welcome {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 35% top 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/images/Mask Group 2.png");
  }
  .welcome .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcome .nav-wrapper .nav-title {
    margin-top: 40px;
  }
  .welcome .nav-wrapper .nav-title svg {
    width: 220px;
    height: 40px;
  }
  .welcome .nav-wrapper .nav-title svg .st1 {
    fill: #16EB8F;
  }
  .welcome .nav-wrapper .nav-title svg .st0 {
    fill: #FFFFFF;
  }
  .welcome .nav-wrapper .nav-links {
    display: none;
  }
  .welcome .welcome-message {
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: calc(100vw - 80px);
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
  }
  .welcome .welcome-message span {
    color: #16EB8F;
  }

  .who-we-are {
    height: 100%;
    background: transparent linear-gradient(291deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .who-we-are .content {
    margin-top: 50px;
  }
  .who-we-are .content span {
    color: #16EB8F;
    font-size: 48px;
    font-weight: bold;
  }
  .who-we-are .content p {
    margin-top: 40px;
    font-size: 24px;
    color: #CACCD5;
    line-height: 1.5;
  }
  .who-we-are .image-wrapper {
    margin-top: 60px;
  }
  .who-we-are .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mission-and-vision {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #12303C 0% 0% no-repeat padding-box;
  }
  .mission-and-vision .img-wrapper img {
    height: 540px;
    width: 100%;
    object-fit: cover;
  }
  .mission-and-vision .content-wrapper {
    margin-right: 20px;
    margin-left: 20px;
  }
  .mission-and-vision .content-wrapper .content-title {
    text-align: left;
  }
  .mission-and-vision .content-wrapper .content-title:first-of-type {
    margin-top: 50px;
  }
  .mission-and-vision .content-wrapper .content-title span {
    color: #16EB8F;
    font-size: 46px;
    font-weight: bold;
  }
  .mission-and-vision .content-wrapper .content-title p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #CACCD5;
    font-size: 24px;
    line-height: 1.5;
  }

  .why-work-with-us {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-work-with-us .content-wrapper {
    order: 2;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .why-work-with-us .content-wrapper .title {
    color: #16EB8F;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .why-work-with-us .content-wrapper .bordered {
    margin-bottom: 30px;
    border-bottom: 1px solid #12303C;
  }
  .why-work-with-us .content-wrapper .content-point {
    display: flex;
    flex-direction: column;
    color: #CACCD5;
  }
  .why-work-with-us .content-wrapper .content-point .point-header {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .why-work-with-us .content-wrapper .content-point .point-body {
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 1.5;
  }
  .why-work-with-us .img-wrapper {
    order: 1;
    width: 100%;
  }
  .why-work-with-us .img-wrapper img {
    width: 100%;
    height: 540px;
    object-fit: cover;
  }

  .what-we-provide {
    height: 100%;
    background: #12303C 0% 0% no-repeat padding-box;
    display: flex;
    color: #CACCD5;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .what-we-provide .img-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .what-we-provide .img-wrapper img {
    height: 540px;
    width: 110%;
    object-fit: cover;
  }
  .what-we-provide .content-wrapper {
    height: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .what-we-provide .content-wrapper .title {
    font-size: 48px;
    font-weight: bold;
    color: #16EB8F;
    margin-bottom: 40px;
  }
  .what-we-provide .content-wrapper .content-point {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .what-we-provide .content-wrapper .content-point:not(:last-of-type) {
    border-bottom: 1px solid #07131C;
    margin-bottom: 20px;
  }
  .what-we-provide .content-wrapper .content-point .point-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .what-we-provide .content-wrapper .content-point .point-body {
    font-size: 20px;
    line-height: 1.4;
  }

  .objectives {
    background: #07131C 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #CACCD5;
    height: 100%;
    position: relative;
  }
  .objectives .objective-logo {
    width: 120px;
    height: 120px;
    margin-top: 60px;
  }
  .objectives .objective-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .objectives .title {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #16EB8F;
    font-size: 48px;
    font-weight: bold;
  }
  .objectives .img-wrapper img {
    display: none;
  }
  .objectives .objectives-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }
  .objectives .objectives-content :nth-child(1)::before {
    content: "1";
    display: block;
    color: #07131C;
    font-size: 48px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(2)::before {
    content: "2";
    display: block;
    color: #07131C;
    font-size: 48px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(3)::before {
    content: "3";
    display: block;
    color: #07131C;
    font-size: 48px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(4)::before {
    content: "4";
    display: block;
    color: #07131C;
    font-size: 48px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content .objective {
    flex-basis: 35%;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .app-points {
    height: 100%;
    color: #CACCD5;
    background: transparent linear-gradient(299deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-points .left-cards {
    order: 2;
  }
  .app-points .right-cards {
    order: 3;
  }
  .app-points .app-background {
    order: 1;
  }
  .app-points .app-background .title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 60px;
    color: #16EB8F;
  }
  .app-points .app-background img {
    height: 700px;
    width: 100%;
    object-fit: cover;
  }
  .app-points .card {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #12303C;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 40px;
  }
  .app-points .card .card-logo {
    width: 84px;
    height: 84px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .app-points .card .card-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .app-points .card .card-content {
    font-size: 20px;
    line-height: 1.4;
  }

  .cto {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cto .cto-content {
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 28px;
    margin: 50px 20px 50px 20px;
  }
  .cto .cto-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .cto .cto-buttons .cto-button {
    font-size: 24px;
    background-color: #16EB8F;
    border-radius: 5px;
    width: calc(100% - 40px);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .cto .cto-buttons .cto-button svg {
    width: 36px;
    height: 36px;
  }

  .footer {
    color: #CACCD5;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #12303C;
  }
}
@media (max-width: 480px) {
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 0.5em;
    cursor: pointer;
  }
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #07131C;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #838996;
  }

  .welcome {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 35% top 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/images/Mask Group 2.png");
  }
  .welcome .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcome .nav-wrapper .nav-title {
    margin-top: 40px;
    color: #FFFFFF;
    font-size: 34px;
  }
  .welcome .nav-wrapper .nav-title svg {
    width: 240px;
  }
  .welcome .nav-wrapper .nav-title svg .st1 {
    fill: #16EB8F;
  }
  .welcome .nav-wrapper .nav-title svg .st0 {
    fill: #FFFFFF;
  }
  .welcome .nav-wrapper .nav-links {
    display: none;
  }
  .welcome .welcome-message {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: calc(100vw - 80px);
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
  }
  .welcome .welcome-message span {
    color: #16EB8F;
  }

  .who-we-are {
    height: 100%;
    background: transparent linear-gradient(291deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .who-we-are .content {
    margin-top: 40px;
  }
  .who-we-are .content span {
    color: #16EB8F;
    font-size: 36px;
    font-weight: bold;
  }
  .who-we-are .content p {
    margin-top: 50px;
    font-size: 18px;
    color: #CACCD5;
    line-height: 1.5;
  }
  .who-we-are .image-wrapper {
    margin-top: 50px;
  }
  .who-we-are .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mission-and-vision {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #12303C 0% 0% no-repeat padding-box;
  }
  .mission-and-vision .img-wrapper img {
    height: 540px;
    max-width: 100%;
    object-fit: cover;
  }
  .mission-and-vision .content-wrapper {
    margin-right: 20px;
    margin-left: 20px;
  }
  .mission-and-vision .content-wrapper .content-title {
    text-align: left;
  }
  .mission-and-vision .content-wrapper .content-title:first-of-type {
    margin-top: 40px;
  }
  .mission-and-vision .content-wrapper .content-title span {
    color: #16EB8F;
    font-size: 36px;
    font-weight: bold;
  }
  .mission-and-vision .content-wrapper .content-title p {
    margin-top: 30px;
    color: #CACCD5;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  .why-work-with-us {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-work-with-us .content-wrapper {
    order: 2;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .why-work-with-us .content-wrapper .title {
    color: #16EB8F;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  .why-work-with-us .content-wrapper .bordered {
    margin-bottom: 30px;
    border-bottom: 1px solid #12303C;
  }
  .why-work-with-us .content-wrapper .content-point {
    display: flex;
    flex-direction: column;
    color: #CACCD5;
  }
  .why-work-with-us .content-wrapper .content-point .point-header {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .why-work-with-us .content-wrapper .content-point .point-body {
    padding-bottom: 30px;
    font-size: 18px;
  }
  .why-work-with-us .img-wrapper {
    order: 1;
  }
  .why-work-with-us .img-wrapper img {
    max-height: 540px;
    max-width: 100%;
  }

  .what-we-provide {
    height: 100%;
    background: #12303C 0% 0% no-repeat padding-box;
    display: flex;
    color: #CACCD5;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .what-we-provide .img-wrapper {
    width: 100%;
  }
  .what-we-provide .img-wrapper img {
    height: 540px;
    width: 100%;
    object-fit: cover;
  }
  .what-we-provide .content-wrapper {
    width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .what-we-provide .content-wrapper .title {
    font-size: 34px;
    font-weight: bold;
    color: #16EB8F;
    margin-bottom: 40px;
  }
  .what-we-provide .content-wrapper .content-point {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .what-we-provide .content-wrapper .content-point:not(:last-of-type) {
    border-bottom: 1px solid #07131C;
    margin-bottom: 20px;
  }
  .what-we-provide .content-wrapper .content-point .point-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .what-we-provide .content-wrapper .content-point .point-body {
    font-size: 18px;
    line-height: 1.4;
  }

  .objectives {
    background: #07131C 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #CACCD5;
    height: 100%;
    position: relative;
  }
  .objectives .objective-logo {
    width: 100px;
    height: 100px;
    margin-top: 60px;
  }
  .objectives .objective-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .objectives .title {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    color: #16EB8F;
    font-size: 36px;
    font-weight: bold;
    width: 210px;
  }
  .objectives .img-wrapper img {
    display: none;
  }
  .objectives .objectives-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }
  .objectives .objectives-content :nth-child(1)::before {
    content: "1";
    display: block;
    color: #07131C;
    font-size: 36px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(2)::before {
    content: "2";
    display: block;
    color: #07131C;
    font-size: 36px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(3)::before {
    content: "3";
    display: block;
    color: #07131C;
    font-size: 36px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content :nth-child(4)::before {
    content: "4";
    display: block;
    color: #07131C;
    font-size: 36px;
    text-shadow: 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F, 0px 0px 1px #16EB8F;
  }
  .objectives .objectives-content .objective {
    flex-basis: 45%;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .app-points {
    height: 100%;
    color: #CACCD5;
    background: transparent linear-gradient(299deg, #000000 0%, #12303C 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-points .left-cards {
    order: 2;
  }
  .app-points .right-cards {
    order: 3;
  }
  .app-points .app-background {
    order: 1;
  }
  .app-points .app-background .title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 60px;
    color: #16EB8F;
  }
  .app-points .app-background img {
    height: 460px;
    max-width: 100%;
    object-fit: cover;
  }
  .app-points .card {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #12303C;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }
  .app-points .card .card-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .app-points .card .card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .app-points .card .card-content {
    font-size: 20px;
    line-height: 1.4;
  }

  .cto {
    background: #07131C 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cto .cto-content {
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 20px;
    margin: 50px 20px 50px 20px;
  }
  .cto .cto-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .cto .cto-buttons .cto-button {
    font-size: 20px;
    background-color: #16EB8F;
    border-radius: 5px;
    width: calc(100% - 40px);
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 20px;
    margin-bottom: 15px;
  }
  .cto .cto-buttons .cto-button svg {
    width: 28px;
    height: 28px;
  }

  .footer {
    color: #CACCD5;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #12303C;
  }
}

/*# sourceMappingURL=styles.css.map */
