$COLORS_PRIMARYd1 : #D0FBE9;
$COLORS_PRIMARYd2 : #A2F7D2;
$COLORS_PRIMARYd3 : #73F3BC;
$COLORS_PRIMARYd4 : #45EFA5;
$COLORS_PRIMARYd5 : #16EB8F;
$COLORS_BACKGROUNDd1 : #12303C;
$COLORS_BACKGROUNDd2 : #07131C;
$COLORS_BACKGROUNDd3 : #000000;
$COLORS_BACKGROUNDgradient : transparent linear-gradient(180deg, $COLORS_BACKGROUNDd3 0%, $COLORS_BACKGROUNDd1 100%);
$COLORS_GRAYd1 : #CACCD5;
$COLORS_GRAYd2 : #838996;
$COLORS_WARNING : #FEC132;
$COLORS_INFO : #58C2D9;
$COLORS_DANGER : #E64965;
$COLORS_SUCCESS : #58D96D;
$COLORS_TEXT : #FFFFFF;